@page "/AvatarControls"
@using Microsoft.AspNetCore.Authorization
@using ZeniControlSuite.Models.AvatarControls;
@using MudBlazor.Services
@attribute [Authorize(Roles = "Admin, Avatar")]

<PageTitle>Avatar Controls</PageTitle>

<h1>Avatar Controls</h1>
<MudDivider></MudDivider>

<br />
<br />

<MudGrid Spacing="3" Justify="Justify.FlexStart">
    @if (!AvatarsService.avatarsLoaded)
    {
        <MudItem>
            <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
        </MudItem>
    }
    else
    {
        @foreach (Control control in AvatarsService.selectedAvatar.Controls)
        {
            <MudItem>
                <MudPaper Style="@("width: 200px; height: 270px; padding: 8px")">
                    <MudText Typo="Typo.h6">@control.Name</MudText>

                    @if (control is ContTypeToggle contTog)
                    {
                        @if (contTog.Parameter.Value == contTog.ValueOff)
                        {
                            <MudButton Variant="Variant.Outlined" Color="Color.Error" OnClick="@(() => controlTogglePress(contTog))">+</MudButton>
                        }
                        else
                        {
                            <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="@(() => controlTogglePress(contTog))">-</MudButton>
                        }
                    }

                    else if (control is ContTypeButton contBut)
					{
                    }

                    else if (control is ContTypeRadial contRad)
                    {
                    
                    }

                    else if (control is ContTypeHSV contTypeHSV)
					{
                        <MudText Typo="Typo.caption">HSV</MudText>
					}

					else
					{
						<MudText Typo="Typo.caption">Unknown Type</MudText>
					}




                </MudPaper>
            </MudItem>
        }
    }
</MudGrid>

public abstract class Control
{
    // control properties and methods
}