@page "/DeviceControls"

<PageTitle>Device Controls</PageTitle>

<h1>Device Controls</h1>
<MudDivider></MudDivider>

<Panel_IntifaceMain/>

@code {
	public static bool pageEnabled = true;
	public static bool pageHidden = true;
}
