@page "/Points&Games"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin, GamesPoints")]

<PageTitle>Points & Games</PageTitle>

<h1>Games & Points</h1>
<MudDivider></MudDivider>
&nbsp;

<MudGrid Style="width: 1500px; height: 100px">

    @* Points *@
    <MudItem xs="3">
        <Panel_PointControls/>
        <br/>
        <Panel_GameControls/>
    </MudItem>

    @* Games *@
    <MudItem xs="5">
        <Panel_GameSelector/>
    </MudItem>

    @* AutoGame Logs *@
    <MudItem xs="4" Class="ma-0" Style="height:700px;overflow: auto;">
        <Panel_LogsGamesPoints/>
    </MudItem>

</MudGrid>
