@page "/Settings"

<PageTitle>Settings Panel</PageTitle>

<h1>A settings panel that is not really secret whatsoever</h1>
<MudDivider></MudDivider>
Maybe I should add a password.

<br><br/>

<div>
    <h3>Avatar OSC</h3>
    <MudSwitch @bind-Value="@AvatarOSC.pageEnabled" Color="Color.Primary" />
    <br>
    <h3>Games & GamePoints</h3>
    <MudSwitch @bind-Value="@GamesPoints.pageEnabled" Color="Color.Primary" />
    <br>
    <h3>Bindings</h3>
    <MudSwitch @bind-Value="@BindingManager.pageEnabled" Color="Color.Primary" />
    <br>
    <h3>Device Controls</h3>
    <MudSwitch @bind-Value="@Devices.pageEnabled" Color="Color.Primary" />
    <br>
</div>


@code {
}
